.site-nav {
  &.large .sub-menu li a {
    padding: 2px 16px;
  }

  .mega-menu {
    .sub-menu {
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;
      justify-content: flex-start;
      max-height: 600px;
    }
  }

  .mega-menu.rooms-menu {
    .sub-menu {
      max-height: 400px;
    }
  }
}

.site-header
  .site-nav.large
  .menu
  > li.mega-menu
  > .sub-menu
  > li.menu-item-has-children
  > a {
  // color: #7b5a30;
  color: #a9927d;
  border-bottom: 1.5px solid #dddddd;
  font-weight: 600;
  text-transform: uppercase;
}
